 <html>
	<head>
		<link rel="stylesheet" href="static/style.css">
		<link rel="shortcut icon" href="static/digi.jpg"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<style type="text/css">
			body {
				background-image: url("static/bg4.jpg");
				background-repeat: repeat-y;
				background-color: #87ceeb;
				background-size: 100% 100%;
				
			}

		</style>
	</head>
	<body
		<center><h1 style="color: #00FF00; font-size: 60px; text-shadow: 4px 4px red">Welcome to Hand written digit recognition</h1></center>
		<br>
		 <canvas id="canvas" width="280" height="280" style="border:8px solid gold; float: left; margin-left: 23%; margin-top:0%;  border-radius: 5px; cursor: crosshair;"></canvas>
		 <script type="text/javascript">
		 	var c = document.getElementById("canvas");
			var ctx = c.getContext("2d");
			ctx.fillStyle = "white";
			ctx.fillRect(0, 0, 280, 280);
		 </script>
		 <br>
		 <!--<div id="debug" style="margin:65px; margin-top:100px;">
			<!-- <input type="color" id="colors">
			 <input type="number" id="lineWidth" style="width:60px" value="0.2" step="0.1" min="0.1"> 
			<input type="button" class="button2" value="Clear" style="">
			<br/>
			<span style="color: #4DAF7C; font-weight: 400; font-family: 'Open Sans', Helvetica;	">Draw the Digit inside this Box!</span>
		</div>-->
		<div class="buttons">
			<a class="button2 myButton" href="#">Predict</a>
			<a class="button1" id="clearButton" href="#">Clear</a>
		</div>

		<!--<div style="margin-left:175px; margin-top:200px; float:left; position:absolute;">
			
			<a href="#" class="myButton"><span style=" font-weight: 400; font-family: 'Open Sans', Helvetica;	"> Predict </span></a>			
		</div>-->
		<div >
			<h1 id="result" style="margin-left: 16%; margin-top:13%;float:left; color: yellow; font-size: 40px;"><span> </span></h1>
		</div>
		
		</div>
			<h1 style="font-size:30px; color:red;text-shadow: 2px 2px yellow;">Follow :
			<a href="https://www.linkedin.com/in/adithya-yelloju-653404133/" ><img src="/static/linkedin.png" width="30" height="30"></a>
			<a href="https://github.com/AdithyaYelloju" ><img src="/static/github.png" width="30" height="30"></a>
			<a href="https://twitter.com/AdithyaYelloju" ><img src="/static/twitter.png" width="30" height="30"></a>
		</h1> 

		
  		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	    <script src="../static/index.js"></script>
	    <script type="text/javascript">
	   
	   		$(".myButton").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL();
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/find",
	   				data: img,
	   				success: function(data){
	   					$('#result').text(' Predicted Output : '+data);
	   				}
	   			});
	   		});
	   		$(".button1").click(function(){
	   			
	   					$('#result').text('');
	   		});
	   
	   </script>
	</body>
</html>
